# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDE & Cache
.vscode/
.idea/
.cache/

# Generated Output & Logs & Dataset Images
generated_images/
generated_images_baseline/
generated_images_sketch/
sketches/
*.log
# Models & Weights
models/
*.safetensors
*.bin
*.pth
*.onnx
